<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>팀피셜 이메일</title>
    <style>
        @font-face {
            font-family: 'Pretendard';
            src: url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/woff2/Pretendard-Regular.woff2') format('woff2');
            font-weight: 400;
        }
    </style>
</head>
<body>

<div>
    <!-- 인삿말 및 설명 -->
    <div style="padding: 32px 24px 16px 24px; text-align: left;">
        <p style="font-size: 20px; color: #000000; font-weight: 400;">
            안녕하세요 <span style="font-weight: 700;">팀피셜</span>입니다.
        </p>
    </div>

    <div>
        <img src="cid:report_email"
             alt="신고 이메일용 사진"
             style="display: block; margin: 0 auto; width: 90%; max-width: 350px; height: auto;">
    </div>

</div>
</body>
</html>